.container {
  text-align: center;
}

.wrap {
  background-color: rgba(159, 121, 238, 0.5);
  color: #363636;
  padding-top: 90px;
  font-family: 'Montserrat', sans-serif;
  width: 750px;
  height: 870px;
  margin: auto;
}
.wrap .comment {
  color: red;
  font-size: 14px;
}
.wrap .commentEmpty {
  color: rgba(159, 121, 238, 0.5);
  font-size: 14px;
  /* display: none; */
}
h2 {
  text-align: center;
  font-size: 28px;
  color: #363636;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
  padding-top: 20px;
  padding-bottom: 10px;
}

.buttons button {
  border: 3px solid #fff;
  border-radius: 8px;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #363636;
}
button:hover {
  border: 2px solid #fff;
  background-color: rgba(159, 121, 238, 0.5);
  color: #fff;
}


.item {
  margin: 10px;
}
.item input {
  border-radius: 15px;
  border: 2px solid #fff;
  height: 30px;
  width: 300px;
  margin-top: 6px;
  background-color: #fff;
  padding-left: 10px;
  color: #363636;
}
.item label {
  margin-left: 15px;
  color: #363636;
}
input::-webkit-input-placeholder {
  color: #838791;
  background-color:#fff;
}
.item .comment {
  color: red;
  font-size: 12px;
}
.item .commentEmpty {
  color: rgba(159, 121, 238, 0.5);
  font-size: 12px;
  /* display: none; */
}

.item textarea {
  resize: none;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 6px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  padding-left: 10px;
  color: #363636;
  padding-top: 7px;
}
.item {
  margin: 10px;
}
.item label {
  margin-left: 15px;
  color: #363636;
}
textarea::-webkit-input-placeholder {
  color: #838791;
  background-color:#fff;
}

.item .counters {
  color: #838791;
  font-size: 14px;
}
